main {
  display: flex;
  padding: 0 20px;
  gap: 32px;
  margin: 112px auto 0 auto;
  max-width: 1200px;
}

.iframe-container {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 56.25%;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.movie-info {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}

#movie-title {
  font-size: 24px;
  line-height: 32px;
  transition: 0.3s;
}

#similar {
  flex-shrink: 0;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  max-height: 100vh;
}

#similar > a > div {
  display: flex;
  gap: 16px;
  padding-right: 20px;
  cursor: pointer;
}

#similar > a > div img {
  width: 80px;
  height: 120px;
  object-fit: cover;
  transition: 0.3s;
}

#similar > a > div > div {
  padding: 12px 0;
  transition: 0.3s;
}

#similar > a > div:hover img {
  filter: brightness(75%);
}

#similar > a > div:hover div {
  color: var(--orange);
}
